@import "../../variable.scss";

.Paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.lg {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.md {
  color: inherit;
  font-weight: 700;
  line-height: 2.5rem;
}
