@import "../../variable.scss";

.Header {
  transition: all 0.2s;
  display: inline-block;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, rgba(120, 108, 232, 1), rgba(97, 81, 248, 1));
  background-clip: text;
  color: transparent;
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}
.lg {
  &:hover {
    background: none;
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  font-weight: 700;
  font-size: 3.5rem;
  color: $primary-color;
}

