@import "../../variable.scss";

.Pamphlet {
  border-radius: 3px;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  perspective: 150rem;
  display: block;

  //clearfix
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &:hover {
    .pamphlet__front {
      transform: rotateY(-180deg);
    }
    .pamphlet__back {
      transform: rotateY(0deg);
    }
  }
}

.pamphlet__front,
.pamphlet__back {
  border-radius: inherit;
  //clearfix
  content: "";
  clear: both;
  display: table;

  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  transition: all 1s ease;

  position: absolute;
}

.pamphlet__front {
}
.pamphlet__front__img {
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 23rem;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mia-1 {
  background-image: linear-gradient(to top left, rgba($primary-color, 1), rgba(lighten($primary-color, 10%), 1)),
    url("../../images/mia1.jpeg");
}
.mia-2 {
  background-image: linear-gradient(to top left, rgba($secondary-color, 1), rgba(lighten($secondary-color, 10%), 1)),
    url("../../images/mia2.jpeg");
}
.mia-3 {
  background-image: linear-gradient(to top left, rgba($tertiary-color, 1), rgba(lighten($tertiary-color, 10%), 1)),
    url("../../images/mia3.jpeg");
}
.pamphlet__front__header {
  font-weight: 400;
  box-decoration-break: clone;
  top: 13rem;
  color: $white;
  padding: 1rem;
  font-size: 3rem;
  position: absolute;
  right: 0;
}
.pamphlet__front__list {
  padding: 2rem;
  margin: 0 auto;
  width: 88%;
  list-style-type: none;

  & > *:not(:last-child) {
    border-bottom: 0.1rem solid rgba($grey, 0.15);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}
.pamphlet__front__list__item {
  color: $grey;
  font-size: 1.5rem;
}

.pamphlet__back {
  transform: rotateY(180deg);
}
.primary {
  background-image: linear-gradient(to top left, rgba($primary-color, 1), rgba(lighten($primary-color, 10%), 1));
}
.secondary {
  background-image: linear-gradient(to top left, rgba($secondary-color, 1), rgba(lighten($secondary-color, 10%), 1));
}
.tertiary {
  background-image: linear-gradient(to top left, rgba($tertiary-color, 1), rgba(lighten($tertiary-color, 10%), 1));
}
.pamphlet__back__info {
  font-size: 1.5rem;
  color: $white;
}
.pamphlet__back__price {
  font-size: 3rem;
  color: $white;
}
