@import "../../variable.scss";

.Section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  width: 100%;
  height: 100vh;
  background-position: bottom;
  background-image: linear-gradient(to right bottom, rgba(120, 108, 232, 0.85), rgba(97, 81, 248, 0.85)),
    url(../../images/mia1.jpeg);
}
.hero__logo,
.footer__logo {
  font-family: "Nanum Pen Script", cursive;
}
.hero__logo {
  position: absolute;
  top: 3rem;
  left: 2.5rem;
  font-size: 10rem;
  color: $white;
}
.footer__logo {
  padding: 4rem 0;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  background-image: linear-gradient(to left, $primary-color, lighten($primary-color, 10%));
  color: transparent;
  background-clip: text;
  & > span {
    font-size: 20rem;
  }
}
.hero__box {
  text-align: center;
  width: 80rem;
  height: 20rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//about
.about {
  background-color: $other-white;
  box-sizing: inherit;
  padding: 10rem 0;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.about__header {
  text-align: center;
  margin-bottom: 8rem;
}
.about__box__left {
  text-align: left;
}

.about__composition {
  position: relative;

  &:hover .about__img:not(:hover) {
    transform: scale(0.95);
  }
}
.about__img {
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
  width: 55%;
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 2rem;
  &:hover {
    outline: 1.5rem solid $primary-color;
    transform: scale(1.05) translateY(0.5rem);
    z-index: 4;
  }
}
.about__img__1 {
  z-index: 1;
  top: 0;
  left: -2rem;
}
.about__img__2 {
  z-index: 2;
  top: 3rem;
  left: 21rem;
}
.about__img__3 {
  z-index: 3;
  top: 12rem;
  left: 8rem;
}

.benefits {
  transform: skewY(-7deg);
  padding: 20rem 0 10rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(120, 108, 232, 0.85), rgba(97, 81, 248, 0.85)),
    url("../../images/mia4.jpg");
}

//rotaing card section
.offers {
  padding: 15rem 0 15rem 0;
}

.reviews {
  padding: 25rem 0;
  background-image: linear-gradient(rgba($white, 0.8), rgba($white, 0.8)), url("../../images/sample.jpg");
  background-position: center;
}

.contact {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(120, 108, 232, 1), rgba(97, 81, 248, 1));
}

.footer {
  background-color: #333;
  padding: 15rem 0;
}
