@import "./variable.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $other-white;
  line-height: 2.7rem;
  color: $grey;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *::selection {
    background: $primary-color;
    color: $white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


@media only screen and (min-width: $break-large) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: $break-large) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: $break-medium) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: $break-small) {
  html {
    font-size: 40%;
  }
}
