$primary-color: rgba(120, 108, 232, 1);
$secondary-color: #ff7730;
$tertiary-color: #28b485;
$white: #ffffff;
$other-white: #f7f7f7;
$black: #000000;
$grey: #777;
$dark-grey: #333;
$box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);

$break-small: 480px;
$break-medium: 900px;
$break-large: 1200px;

$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;
$grid-width: 114rem;


//utility classes

.u-margin-bottom-lg {
  margin-bottom: 10rem;
}
.u-border-top {
  border-top: .1rem solid $grey;
  padding-top: 2rem;

  color: $white;
  text-align: left;
}
.u-item-margin-right-sm {

  & > a:not(:last-child) {
    display: inline-block;
    margin-right: 1.8rem;
  }
}