$primary-color: rgba(120, 108, 232, 1);
$white: #ffffff;
$black: #000000;
$grey: #777;;
$dark-grey: #333;
$box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);

$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;


